fastapi
uvicorn

fastmcp

python-dotenv
requests

anthropic
huggingface_hub
mistralai

qdrant-client==1.16.1
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface

sentence-transformers
torch
transformers
sentencepiece

pdfplumber
python-docx
pandas
reportlab

langchain==1.0.7
langchain_community
langgraph
langchain_anthropic
langchain_mistralai

aiohttp
anyio
overpy
asyncio

cdsapi
xarray
